nav {
  background-color: crimson;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li{
  display: inline;
  margin-right: 25px;
  
}

nav a {
  color: white;
  font-size: 1.5em;
  font-family: cursive serif; 
}

nav a:hover {
  color: gold;
 
}

h1 {
    text-align: center;
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

#home-body{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 1em 2em 1em 2em;
  padding: 1.5em;
  border-style: groove;
}

#tacos-div{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}
  
#tacos{
  width: 400px;
  height: 400px;
  align-content: center;
}

.tacos{
  width: 400px;
  height: 400px;
  align-content: center;
  border-radius: 25%;
}


.restImg{
  width: 200px;
  height: 200px;
}

.credit{
  font-size: 5px;
}

body{
  background-color: beige;
  text-align: center;
}

main{
  margin: 0px 20px 0px 20px;
  background-color: antiquewhite;
}

.btn-primary{
  border-radius: 20%;
  background-color: crimson;
  font: white;
}

.btn-primary:hover {
  color: gold;
  text-decoration: none;
}

#place-name{
  text-decoration: none;
  font: crimson bold;
  
}